<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="main">

  <div class="navigation-container">
    <ul class="nav">
      <li class="logo"><a href="#">S</li>
      <li class="title"><a href="#">SlackerNews</a></li>
      <li class="border"><a href="#"> new </a>|</li>
      <li class="border"><a href="#"> comments </a>|</li>
      <li class="border"><a href="#"> ask </a>|</li>
      <li class="border"><a href="#"> jobs </a>|</li>
      <li class="border"><a href="#"> submit </a> </li>
      <li class="login"><a href="#"> login </a> </li>
    </ul>
  </div>




  <div class="contents">
    <div class="comments">
      <ul class="numbers">
        <%- 30.times do |number| -%>  
          <li>
            <a href="#"><%= number+1 %> Sayonara, V8 (groups.google.com)</a>
            <br>
          119 points by fridek 3 hours ago | 29 comments</li>
        <%- end -%>
      </ul>
     </div>
   </div>   


  <div class="footer">
    <ul class="bottom">
      <li><a href="#">lists</a> | </li>
      <li><a href="#"> RSS </a> |  </li>
      <li><a href="#"> Bookmarklet </a> | </li>
      <li><a href="#"> Guidelines</a> | </li>
      <li><a href="#"> FAQ</a> | </li>
      <li><a href="#"> DMCA </a> | </li>
      <li><a href="#"> News News </a> | </li>
      <li><a href="#"> Feature Requests</a>|</li>
      <li><a href="#"> Bugs</a> | </li>
      <li><a href="#"> Y Combinator </a> | </li>
      <li><a href="#"> Apply </a> | </li>
      <li><a href="#"> Library </a> </li>
    </ul>
    <div class="bottom_search"> 
      <form class="search_edit">
         <label> Search </label> 
         <input type= "search" name="search">
      </form>
    </div>
  </div>

</div>
<%= yield %>



</body>
</html>
